{% extends 'app/layout.html' %}
<!doctype html>
{% load static %}

{% block headblock %}
    <title>Contact Us | Thankyou</title>
    <link rel="stylesheet" href="{% static 'assets/css/thankyou-for-contact.css' %}">

{% endblock headblock %}




{% block bodyblock %}

    <div class="container-fluid content-section-a">
           
    </div>
    <div class="container-fluid custom-container">
           <div class="container">
               <h3>for being with us. We'll give our best to provide you a great experience. Please go ahead and enjoy the service.</h3>
               <a href="/login" class="btn btn-outline-dark" style="width:30%; margin-top:5%; margin-bottom:3%">Login</a>
           </div>
    </div>
    

    
{% endblock bodyblock %}
