.custom-btn{
    width: 100%;
    margin-top: 5%;
}

.custom-form{
    margin-top: 65px;
    background-color: #3F3F3F;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 2%;
}

.custom-dashboard{
    border-bottom: #3F3F3F solid 10px;
}

.card-body-unselected{
    margin:10px;
    border-radius: 3%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-body-selected{
    
    margin:10px;
    border-radius: 3%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px inset;
}

.custom-creds{
    padding-right: 100px;
    
}

.user-cred{
    margin-top: 50px;
}
.custom-credential{
    margin-top:50px;
}

.my-anchor{
    text-decoration: none;
    color:#3F3F3F;
}

.card-body:hover{
    background-color: white;
}

.form-check{
    margin-bottom: 1rem;
    /* margin-top:-15px; */
}
.fa-copy-custom{
    text-align: right;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    /* color:#1d1c1c; */
}


/* @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .desktop-view{
        display: none;
    }
} */
table { 
    width: 100%; 
    border-collapse: collapse; 
}

.custom-btn-anchor{
    margin-bottom: 16px;
    
}

@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "SNo :"; }
		td:nth-of-type(2):before { content: "Website :"; }
		td:nth-of-type(3):before { content: "Username :"; }
		td:nth-of-type(4):before { content: "Password :"; }
		td:nth-of-type(5):before { content: "Action :"; }

        .styled-table th, .styled-table td {
            padding: 0px 5px 10px 32%;
        }
        
        
	}
	

      /* in case to emergency to fix table */
      /* .input-group>.form-control, .input-group>.form-select {
        position: relative;
        flex: unset;
        width: 75%;
        min-width: 0;
    } */
    #g-recaptcha-response {
        display: block !important;
        position: absolute;
        margin: -78px 0 0 0 !important;
        width: 302px !important;
        height: 76px !important;
        z-index: -999999;
        opacity: 0;
    }